@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Manrope";
  background-color: #fbfbff;
}

@layer components {
  .btn-primary {
    @apply flex items-center gap-2 text-buttons rounded-[16px] px-7 py-4 bg-blue text-gray-0 hover:bg-lightblue-10 active:bg-blue-10;
  }

  input {
    @apply w-full p-6 text-body placeholder:text-gray-30 rounded-2xl border-2 border-gray-20 text-gray-60 focus-within:outline-none focus:border-blue;
  }

  textarea {
    @apply w-full p-6 text-body placeholder:text-gray-30 rounded-2xl border-2 border-gray-20 text-gray-60 focus-within:outline-none focus:border-blue;
  }
}
