@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Manrope';
  background-color: #FBFBFF;
}

@layer components {
  .btn-primary {
    @apply flex gap-2 text-buttons rounded-[16px] px-7 py-4 bg-blue text-gray-0 hover:bg-lightblue-10 active:bg-blue-10;
  }
}