<div class="flex h-full flex-col pt-12 gap-y-10 bg-gray-0 pl-4">
  <div class="flex flex-col gap-3">
    @if (auth.isAuthenticated$ | async) {
    <span
      class="text-h3 text-gray-80 text-nowrap overflow-hidden text-ellipsis"
      >{{ (auth.user$ | async)?.['username'] }}</span
    >
    <app-tag
      [text]="(auth.user$ | async)?.['app/roles']?.[0] | capitalize"
      color="green"
    ></app-tag>
    } @else {
    <button (click)="auth.loginWithRedirect()">Sign in</button>
    }
  </div>
  <div class="flex flex-col gap-y-2">
    <span class="text-body">Menu</span>
    <div class="flex flex-col gap-y-6">
      @for (nav of navItems; track $index) { @if (nav.roles.includes((auth.user$
      | async)?.['app/roles']?.[0])) {
      <app-nav-item
        [navItemConfig]="{ iconName: nav.icon, name: nav.name, path: nav.path }"
      ></app-nav-item>
      } }
    </div>
  </div>
</div>
